.header{
    background-image: url('/media/header.jpg');
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-shadow-custom{
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}

.box-custom{
    border: 2px dotted white;
    min-height: 250px;
    max-width: 250px;
    transition: all 0.5s;
    cursor: pointer;
}

.box-custom:hover{
    border: 3px solid white;
    transform: translateY(-10px);
}

.icon-custom{
    font-size: 50px;
}
